<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="title">LuoZhouYang's Website</div>
    <span class="fill-remaining-space"></span>
    <mat-icon>more_vert</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar aria-label="nav" color="accent">
  <a mat-tab-link
     *ngFor="let tab of tabs"
     [routerLink]="tab.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{tab.label}}
  </a>
</nav>
<router-outlet></router-outlet>
